h2{
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 2.1rem;
}

.bg-index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/index/bg-index.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body-login {
    width: 60%;
    margin: auto;
    margin: 0%;
}

.img-content{
    height: 57vh;
    background-image: url('../images/index/cielo.gif');
    background-size: cover; 
    background-position: center;   
    display: flex;
    align-items: center;
}

.radius{
    border-radius: 7px 0 0 7px;
}
.radius-b{
    border-radius: 0 7px 7px 0;
}

.edificio {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    height: 80%;
    z-index: 1;
}

.logo-content{
    margin: 3% 0;
    width: 100%;
}



/* Input */
.sesion-input {
    position: relative;
    width: 90%;
    margin: auto;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: #f8f9fa;
    border: none;
    border-bottom: 2px solid #e50914;
    color: #333;
    font-size: 16px;
    transition: border-bottom 0.3s ease;
}

    input[type="text"]:focus, input[type="password"]:focus {
        outline: none;
        border-bottom: 2px solid #e50914;
    }

label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    font-size: 16px;
    transition: transform 0.2s ease, font-size 0.2s ease, top 0.2s ease;
}

input[type="text"]:focus + label, input[type="text"]:not(:placeholder-shown) + label,
input[type="password"]:focus + label, input[type="password"]:not(:placeholder-shown) + label {
    transform: translateY(-15px);
    font-size: 1rem;
    top: -10px;
    color: #e50914;
}

.boton {
    width: 100%;
    margin: auto;
    padding: 0.8em 1.8em;
    border: 2px solid #652022;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    transition: .3s;
    font-family: inherit;
    color: #652022;
    border-radius: 10px;
}


    .boton:hover {
        color: #fff;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 2px #652022;
        background: #652022;
    }


@media (max-width: 750px) {
    .img-content{
        height: 38vh;
    }
    .radius{
        border-radius:  7px  7px 0 0 ;
    } 

    .radius-b{
        border-radius:  0 0 7px  7px ;
    } 
    .body-login {
        width: 100%;
    }
    .edificio {
        width: 50%;
    }
    /* .logo-content{
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center; 
    }*/
    .logo{
        margin: 2% 0;
    }
    
}

@media (max-width: 550px) {
    .edificio {
        width: 100%;
    } 
}