.bg-index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/index/bg-index.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body-login {
    width: 60%;
    margin: auto;
    margin: 0%;
}

.img-content{
    height: 50vh;
    background-image: url('../images/index/cielo.gif');
    background-size: cover; 
    background-position: center;   
    display: flex;
    align-items: center;
}

.radius{
    border-radius: 7px 0 0 7px;
}
.edificio {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    height: 80%;
    z-index: 1;
}

@media (max-width: 750px) {
    .radius{
        border-radius:  7px  7px 0 0 ;
    }   
}

@media (max-width: 550px) {
    .edificio {
        width: 100%;
    } 
}