.bg-main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/main/bg-main.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.menu{
    height: 2.4rem;
}
.close{
    height: 2rem;
}
.icon-modules{
    height: 1.9rem;
}

.ubi:hover{
    color:#291213;
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1.1);
}
#col-menu{
    width: 5%;
    margin: auto;
    height: 100vh;
    transition: width 0.5s;
}
#content{
    width: 95%;
    margin: auto;
    height: 100vh;
    transition: width 0.5s;

}
.hamburger{
    display: flex;
    justify-content: center;
}

#list{
    display: none;
}

@media (max-width: 990px) {
    .menu{
        height: 2rem;
    }
    #col-menu{
        display: none;
    }
    #content{
        width: 100%;
        margin: auto;
    }
    #list{
        display: block;
    }
}

