.txt {
  padding: 2%;
  border-radius: 5px;
  border: none;
  width: 90%;
}

.boton {
  border: 1px solid #7b7676;
  font-family: inherit;
  background: #d5e8d4;
  border-radius: 5px;
  font-weight: bold;
  color: #545151;
}
#confirmar{
  width: 82%;
  margin: auto;
}
.boton:hover {
  background: #8bb989;
  color: #ffffff;
}

.tabla {
  overflow: auto;
  max-height: 20vh;
}

.tabla2 {
  overflow: auto;
  max-height: 35vh;
}

.down {
  height: 2.6rem;
}
#form{
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;

}
#form1{
  height: 5vh;
}

.form{
  width: 100%;
  height: 5.5%;
  
  z-index: 99;
  /* Añadido un margen para el contenido debajo */
}

#form.expanded  {
  animation: growAndFade 0.5s ease-out;
  height: auto;
}
#form1.expanded  {
  animation: growAndFade 0.5s ease-out;
  height: auto;
}
.contract {
  animation: growAndFadeUp 0.5s ease-out;
  height: 5.5%;
}

.contract1 {
  animation: growAndFadeUp 0.5s ease-out;
  height: 5vh;
}

#form-body,#form-body1{
  background: #652022;
}
.context {
  text-align: center;
  position: absolute;
  top: 6vh;
  width: 100%;
  z-index: 2;
  transition: all 0.5s ease-out;
  overflow: hidden;
  height: 100vh;
}


#text{
  width: 80%;
  margin: auto;
  border: #652022 solid 2px;
  border-radius: 5px;
  padding-top: 2%;
}

#text2{
  width: 86%;
  margin: auto;
  border: #652022 solid 2px;
  border-radius: 5px;
  padding-top: 2%;
}

@media (max-width: 1000px) {
  #form {
    width: 100%;
    position:static;
    height: 5vh;
  }
  #form1.expanded  {
    animation: growAndFade 0.5s ease-out;
    height: 95vh;
  }
  .context{
    top: 6vh;
  }
}

@keyframes growAndFade {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}

@keyframes growAndFadeUp {
  from {
    height: 100%;
    opacity: 0;
  }
  to {
    height: 0;
    opacity: 1;
  }
}








/* switch  */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  /* Reducido a la mitad */
  height: 20px;
  /* Reducido a la mitad */
  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 10px;
  /* Reducido a la mitad */
  box-shadow: inset 0 0 0 1px #ccc;
  /* Ajustado el grosor del borde */
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 2.5px;
  /* Ajustado a la mitad */
  left: 2.5px;
  /* Ajustado a la mitad */
  width: 15px;
  /* Reducido a la mitad */
  height: 15px;
  /* Reducido a la mitad */
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  /* Ajustado el sombreado */
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -12.5px;
  /* Ajustado a la mitad */
  right: -17.5px;
  /* Ajustado a la mitad */
  font-size: 6px;
  /* Reducido a la mitad */
  font-weight: bold;
  color: #aaa;
  text-shadow: 0.5px 0.5px #fff;
  /* Ajustado el sombreado */
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-handle {
  transform: translateX(20px);
  /* Ajustado para el nuevo tamaño y posición */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 1.5px #05c46b;
  /* Ajustado el sombreado y el grosor del borde */
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background {
  background-color: #05c46b;
  box-shadow: inset 0 0 0 1px #04b360;
  /* Ajustado el grosor del borde */
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch:before {
  content: "On";
  color: #05c46b;
  right: -7.5px;
  /* Ajustado a la mitad */
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background .toggle-switch-handle {
  transform: translateX(20px);
  /* Ajustado para el nuevo tamaño y posición */
}