*{
    box-sizing: border-box;
    margin: 0;
}
main {
    height: 100vh;
    width: 100%;
}
.none{
    display: none;
}
.light {
    background: #f8f9fa;
}

.bg-Reforma{
    background: #652022;
}

.color-R{
    color: #652022;
}


.fade-in-container {
    opacity: 0;
    animation: fade-in-animation 2.5s ease-in-out forwards;
}
@keyframes fade-in-animation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}